	body {
		background: url("https://previews.123rf.com/images/nitikorn123rf/nitikorn123rf1710/nitikorn123rf171000998/88428331-empty-old-wooden-table-with-restaurants-or-the-coffee-shop-background-.jpg");
	    background-size: cover;
	    background-position: center;
	}
	
	.row {
		grid-template-columns: auto auto;
	    grid-column-gap: 10px;
	    grid-row-gap: 15px;
	    display: grid;
	}

	.category-box {
        background: linear-gradient(45deg,#a17c40,#2196F3);
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    margin: 10px;
	    flex-direction: column;
	    cursor: pointer;
	}

	.category-box:hover {
	    opacity: 0.7;
    	border: 5px dotted aliceblue;
	}

	.category-title {
		color: white;
		margin-top: 0;
	}